<div class="create-project-layout">
  <h2>New Project</h2>
  <div *ngIf="(createProjectForm.get('projectNumber')?.invalid && !createProjectForm.get('projectNumber')?.pristine
    || createProjectForm.get('name')?.invalid && !createProjectForm.get('name')?.pristine
    || createProjectForm.get('customer')?.invalid && !createProjectForm.get('customer')?.pristine
    || createProjectForm.get('groupId')?.invalid && !createProjectForm.get('groupId')?.pristine
    || createProjectForm.get('status')?.invalid && !createProjectForm.get('status')?.pristine
    || createProjectForm.get('startDate')?.invalid && !createProjectForm.get('startDate')?.pristine) && showErrorMsg" class="error-container">
    <p class="error-msg">Please enter all the mandatory fields (*)</p>
    <p class="btn-close" (click)="hideErrorMsg()">&times;</p>
  </div>
  <form [formGroup]="createProjectForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="projectNumber" class="required">Project number</label>
      <input
        formControlName="projectNumber"
        type="number"
        id="projectNumber"
        [ngClass]="{'alert': (createProjectForm.get('projectNumber')?.invalid && !createProjectForm.get('projectNumber')?.pristine) || !isValidProjectNumber}"
      (focusout)="validateProjectNumber()">
      <div class="validation-msg-container">
        <span *ngIf="!isValidProjectNumber" class="validation-msg">
          The project number already exists. Please select a different project number
        </span>
      </div>
    </div>

    <div class="input-container">
      <label for="name" class="required">Project name</label>
      <input
        formControlName="name"
        type="text"
        id="name"
        [ngClass]="{'alert': createProjectForm.get('name')?.invalid && !createProjectForm.get('name')?.pristine}">
    </div>

    <div class="input-container">
      <label for="customer" class="required">Customer</label>
      <input
        formControlName="customer"
        type="text"
        id="customer"
        [ngClass]="{'alert': createProjectForm.get('customer')?.invalid && !createProjectForm.get('customer')?.pristine}">
    </div>

    <div class="input-container">
      <label for="group" class="required">Group</label>
      <select
        formControlName="groupId"
        id="group"
        [ngClass]="{'alert': createProjectForm.get('groupId')?.invalid && !createProjectForm.get('groupId')?.pristine}">
        <option hidden selected value="">Select Group</option>
        <option value="328d7825-7fc8-40ea-4746-08dbd70cdaf6">Group 1</option>
        <option value="328d7825-7fc8-40ea-4746-08dbd70cdaf6">Group 2</option>
        <option value="328d7825-7fc8-40ea-4746-08dbd70cdaf6">Group 3</option>
      </select>
    </div>

    <div class="input-container">
      <label for="members">Members</label>
      <input
        formControlName="members"
        type="text"
        id="members">
    </div>

    <div class="input-container">
      <label for="status" class="required">Status</label>
      <select
        formControlName="status"
        id="status"
        [ngClass]="{'alert': createProjectForm.get('status')?.invalid && !createProjectForm.get('status')?.pristine}">
        <option value="NEW" selected>New</option>
        <option value="PLA">Planned</option>
        <option value="INP">In Progress</option>
        <option value="FIN">Finished</option>
      </select>
    </div>

    <div class="date-selection">
      <label for="startDate" class="required" >Start date</label>
      <input
        formControlName="startDate"
        type="date"
        id="startDate"
        [ngClass]="{'alert': createProjectForm.get('startDate')?.invalid && !createProjectForm.get('startDate')?.pristine}">
      <label for="endDate">End date</label>
      <input
        formControlName="endDate"
        type="date"
        id="endDate">
    </div>

    <div class="btn-group">
      <button type="button" class="btn btn-cancel" (click)="router.navigate(['project-list'])">Cancel</button>
      <button class="btn btn-create" [ngClass]="{'forbid': createProjectForm.invalid}">Create Project</button>
    </div>
  </form>
  <app-page-loader *ngIf="isLoading"></app-page-loader>
  <app-create-project-success *ngIf="!isLoading && isRequestSent" [showModal]="isRequestSent" [isSuccess]="isSuccess" [message]="message"></app-create-project-success>
</div>
