<div class="create-project-layout">
  <h2>New Project</h2>
  <form action="">
    <div>
      <label for="projectNumber">Project number</label>
      <input type="number" id="projectNumber">
    </div>

    <div>
      <label for="projectName">Project name</label>
        <input type="text" id="projectName">
    </div>

    <div>
      <label for="customer">Customer</label>
      <input type="text" id="customer">
    </div>

    <div>
      <label for="group">Group</label>
      <select id="group">
        <option hidden selected disabled>Select Group</option>
        <option>Option 1</option>
        <option>Option 2</option>
        <option>Option 3</option>
      </select>
    </div>

    <div>
      <label for="members">Members</label>
      <input type="text" id="members">
    </div>

    <div>
      <label for="status">Status</label>
      <select id="status">
        <option hidden selected disabled>Select Status</option>
        <option value="new">New</option>
      </select>
    </div>

    <div class="date-selection">
      <div>
        <label for="startDate">Start date</label>
        <input type="date" id="startDate">
      </div>
      <div>
        <label for="endDate">End date</label>
        <input type="date" id="endDate">
      </div>
    </div>

    <div class="btn-group">
      <button>Cancel</button>
      <button>Create Project</button>
    </div>
  </form>
</div>
