$semibold: 600;
$regular: 0.875rem;
$default: #333;
$faded: #666;
$focus: #2f85fa;

.create-project-layout {
  padding: 2rem 23rem 0 2rem;
  font-size: $regular;
  font-weight: $semibold;
  color: $faded;
  h2 {
    padding-bottom: 1rem;
    border-bottom: 1px solid gray;
    opacity: 0.5;
  }
  .error-container {
    background-color: #f2dfdc;
    color: #c67273;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    margin-top: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .error-msg {
      background-color: inherit;
      width: fit-content;
    }
    .btn-close {
      background-color: inherit;
      color: #666;
      opacity: 0.7;
      cursor: pointer;
      font-size: 1.25em;
    }
  }
  form {
    padding: 3rem 0 0 3rem;
    display: flex;
    flex-flow: column;
    gap: 2.375rem;
    .validation-msg-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .validation-msg {
        left: 1rem;
        position: absolute;
        white-space: nowrap;
        color: red;
      }
    }
    .required::after {
      content: '*';
      color: red;
      margin-left: 0.75rem;
      font-weight: bold;
    }
    .form-input {
      outline: none;
      border: 1px solid rgba(128, 128, 128, .5);
      padding: 0 0.5rem;
      height: 30px;
      border-radius: 0.3rem;
      box-shadow: 0 0 2px #333 inset;
    }
    input[type=date], select {
      font-size: 1em;
      font-weight:$semibold;
      color: $faded;
    }
    select {
      -webkit-appearance: none;
      background-image: url("/assets/black-arrow-down-icon-png.png");
      background-size: 1rem 1rem;
      background-repeat: no-repeat;
      background-position: right center;
      background-origin: content-box;
    }
    .input-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      label {
        grid-column: 1 / 4;
      }
      input[type=text]{
        grid-column: 4 / 13;
      }
      input[type=number], select {
        grid-column: 4 / 7;
      }
      .alert {
        border-color: red;
        box-shadow: 0 0 2px red inset;
        &::after {
          content: '*';
        }
      }
      .member-select {
        grid-column: 4 / 13;
        position: relative;
        .member-input-group {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 1rem;
          border: 1px solid rgba(128, 128, 128, .5);
          padding: 0 0.5rem;
          height: 30px;
          border-radius: 0.3rem;
          box-shadow: 0 0 2px #333 inset;
          .selected-members-container {
            list-style: none;
            display: flex;
            justify-content: start;
            gap: 0.5rem;
            align-items: center;
            li {
              width: max-content;
              border: 1px solid rgba(128, 128, 128, .5);
              border-radius: 0.2rem;
              padding: 0 0.25rem;
              background-color: #e6e7e4;
              display: flex !important;
              justify-content: space-between;
              align-items: center;
              gap: 0.25rem;
              cursor: pointer;
              span {
                background-color: inherit;
              }
              .x-mark-icon {
                background: transparent;
                cursor: pointer;
              }
            }
          }
          input {
            outline: none;
            border: none;
            width: 100%;
            min-width: 30%;
            &:focus {
              cursor: auto;
            }
          }
        }
        .member-dropdown {
          border: 1px solid gray;
          list-style: none;
          position: absolute;
          width: 100%;
          gap: 0.2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: start;
          li {
            width: 100%;
            cursor: pointer;
            padding: 0.2rem;
            transition-property: background-color;
            transition-duration: 0.15s;
            transition-timing-function: linear;
            &:hover {
              background-color: gray;
              color: whitesmoke;
            }
          }
        }
      }
    }
    .date-selection {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      label[for=startDate] {
        grid-column: 1 / 4;
      }
      #startDate {
        grid-column: 4 / 7;
      }
      label[for=endDate] {
        grid-column: 8 / 10;
      }
      #endDate {
        grid-column: 10 / 13;
      }
      input[type="date"]::-webkit-calendar-picker-indicator {
        //display: none;
        z-index: -1;
      }
      input[type=date] {
        -webkit-appearance: none;
        background-image: url("/assets/calendar.png");
        background-size: 1.5rem 1.5rem;
        background-position: right center;
        background-repeat: no-repeat;
        background-origin: content-box;
      }
    }
    .btn-group {
      display: flex;
      justify-content: end;
      gap: 4rem;
      border-top: 1px solid gray;
      padding-top: 2rem;
      .btn {
        border-radius: 0.25rem;
        padding: 0 4rem;
        cursor: pointer;
        height: 35px;
        font-weight: $semibold;
        border: 1px solid gray;
      }
      .btn-create {
        background-color: #2f85fa;
        color: white;
        &:hover {
          background-color: #175ebf;
        }
      }
      .btn-cancel {
        background-color: #b9b9b9;
        &:hover {
          background-color: #999797;
        }
      }
      .forbid {
        cursor: not-allowed;
      }
    }
  }
}

::-webkit-scrollbar {
  //width: 50px;
  display: none;
}

//::-webkit-scrollbar {
//  transform: translateY(20px);
//  background-color: red;
//  width: 1px;
//  ////display: none;
//  //width: 60px;
//}
::-webkit-scrollbar-track {
  transform: translateY(10px);
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

drag-scroll {
  width: fit-content;
  max-width: 70%;
}
