<header class="layout-header">
  <div class="app-logo">
    <img src="assets/logo_elca.png" alt="Elca logo">
    <h1>Project Information Management</h1>
  </div>
  <div class="header-option">
    <div class="language">
      <img src="assets/language-icon-removebg.png" alt="Language" width="20" (click)="switchLanguage()">
<!--      <span>EN</span>-->
<!--      <span class="active-language">FR</span>-->
    </div>
    <div class="function">
      <span class="text-blue">{{'HELP' | translate}}</span>
      <span class="font-semibold pointer" (click)="logout()">{{'LOG_OUT' | translate}}</span>
    </div>
  </div>
</header>
