<div class="projects-list-layout">
  <h2>Projects List</h2>
  <app-search-bar></app-search-bar>
  <table>
    <colgroup>
      <col span="1" style="width: 3%">
      <col span="1" style="width: 7%">
      <col span="1" style="width: 40%">
      <col span="1" style="width: 13%">
      <col span="1" style="width: 18%">
      <col span="1" style="width: 12%">
      <col span="1" style="width: 7%">
    </colgroup>

    <thead>
      <tr>
        <th></th>
        <th>Number</th>
        <th>Name</th>
        <th>Status</th>
        <th>Customer</th>
        <th>Start Date</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody *ngIf="!isLoading">
      <tr *ngFor="let project of projects">
        <td>
          <input type="checkbox" name="{{project.id}}" >
        </td>
        <td>{{project.projectNumber}}</td>
        <td>{{project.name}}</td>
        <td>{{project.status}}</td>
        <td>{{project.customer}}</td>
        <td>{{formatUtcDate(project.startDate)}}</td>
        <td>
          <fa-icon [icon]="faTrash" class="fa-trash"></fa-icon>
        </td>
      </tr>
<!--      <tr>-->
<!--        <td>-->
<!--          <input type="checkbox" name="delete" id="11">-->
<!--        </td>-->
<!--        <td>3316</td>-->
<!--        <td>Factucation / Encaissements</td>-->
<!--        <td>New</td>-->
<!--        <td>Les Retaites Popularies</td>-->
<!--        <td>25.02.2004</td>-->
<!--        <td>-->
<!--          <fa-icon [icon]="faTrash" class="fa-trash"></fa-icon>-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>-->
<!--          <input type="checkbox" name="delete" id="1">-->
<!--        </td>-->
<!--        <td>3316</td>-->
<!--        <td>Factucation / Encaissements</td>-->
<!--        <td>New</td>-->
<!--        <td>Les Retaites Popularies</td>-->
<!--        <td>25.02.2004</td>-->
<!--        <td>-->
<!--          <fa-icon [icon]="faTrash" class="fa-trash"></fa-icon>-->
<!--        </td>-->
<!--      </tr>-->
    </tbody>
  </table>
  <app-pagination></app-pagination>
</div>
