<div class="projects-list-layout">
  <h2>Projects List</h2>
  <app-search-bar [searchCriteria]="searchCriteria" (searchProjectEvent)="setProjects()"></app-search-bar>
  <table>
    <colgroup>
      <col span="1" style="width: 3%">
      <col span="1" style="width: 7%">
      <col span="1" style="width: 40%">
      <col span="1" style="width: 13%">
      <col span="1" style="width: 18%">
      <col span="1" style="width: 12%">
      <col span="1" style="width: 7%">
    </colgroup>

    <thead>
      <tr>
        <th></th>
        <th>Number</th>
        <th>Name</th>
        <th>Status</th>
        <th>Customer</th>
        <th>Start Date</th>
        <th>Delete</th>
      </tr>
    </thead>

    <tbody *ngIf="!isLoading">
      <tr *ngFor="let project of projects">
        <td>
          <input type="checkbox"
                 name="{{project.id}}"
                 (click)="selectProject(project.id)"
                 [checked]="isProjectSelected(project.id)"
                 [disabled]="project.status.toUpperCase() !== 'NEW'">
        </td>
        <td>{{project.projectNumber}}</td>
        <td>{{project.name}}</td>
        <td>{{resolveProjectStatus(project.status)}}</td>
        <td>{{project.customer}}</td>
        <td>{{formatUtcDate(project.startDate)}}</td>
        <td>
          <fa-icon [icon]="faTrash" *ngIf="project.status.toUpperCase() === 'NEW'" class="fa-trash"></fa-icon>
        </td>
      </tr>
    </tbody>

    <tfoot *ngIf="selectedProjects.length > 0">
      <tr>
        <td colspan="7">
          <div class="delete-items-container">
            <p>{{selectedProjects.length}} items selected</p>
            <div class="right-container">
              <p>delete selected items</p>
              <fa-icon [icon]="faTrash" class="fa-trash"></fa-icon>
            </div>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
  <app-pagination [projects]="projects"
                  [paginationStatus]="paginationStatus"
                  (childEvent)="setProjects()"
                  *ngIf="!isLoading && paginationStatus.lastPage > 1"
                  class="pagination">

  </app-pagination>
  <p *ngIf="!isLoading && !projects" class="empty-msg">Project list is empty...</p>
  <app-loader *ngIf="isLoading"></app-loader>
</div>
