<section class="advanced-filter">
  <div class="content">
    <div class="text-filter">
      <div class="input-filter-field">
        <label for="leaderId">Leader:</label>
        <input type="text" id="leaderId">
      </div>
      <div class="input-filter-field">
        <label for="members">Members:</label>
        <input type="text" id="members">
      </div>
    </div>
    <div class="start-date-range">
      <p>Start date:</p>
      <div class="date-from">
        <label for="startDateFrom">From:</label>
        <app-date-input id="startDateFrom"></app-date-input>
      </div>
      <div class="date-to">
        <label for="startDateTo">To:</label>
        <app-date-input id="startDateTo"></app-date-input>
      </div>
    </div>
    <div class="start-date-range">
      <p>End date:</p>
      <div class="date-from">
        <label for="endDateFrom">From:</label>
        <app-date-input id="endDateFrom"></app-date-input>
      </div>
      <div class="date-to">
        <label for="endDateTo">To:</label>
        <app-date-input id="endDateTo"></app-date-input>
      </div>
    </div>
  </div>
</section>
