<div class="file-export">
    <div class="content">
        <fa-icon [icon]="faXmark" (click)="hide.emit()" class="close-icon"></fa-icon>
        <div class="filter-container">
            <div class="row-container">
                <div class="container">
                    <label for="projectName">{{'PROJECT_NAME' | translate}}</label>
                    <input type="text" id="projectName" [(ngModel)]="request.projectName">
                </div>
                <div class="container">
                    <label for="customer">{{'CUSTOMER' | translate}}</label>
                    <input type="text" id="customer" [(ngModel)]="request.customer">
                </div>
                <div class="container">
                    <label for="leaderName">{{'LEADER_NAME' | translate}}</label>
                    <input type="text" id="leaderName" [(ngModel)]="request.leaderName">
                </div>
            </div>
            <div class="row-container">
                <p>{{'START_DATE' | translate}}:</p>
                <div class="container">
                    <label for="">{{'FROM' | translate}}:</label>
                    <app-date-input [(date)]="request.startDateFrom" ></app-date-input>
                </div>
                <div class="container">
                    <label for="">{{'TO' | translate}}:</label>
                    <app-date-input [(date)]="request.startDateTo"></app-date-input>
                </div>
            </div>
            <div class="row-container">
                <p>{{'END_DATE' | translate}}:</p>
                <div class="container">
                    <label for="">{{'FROM' | translate}}:</label>
                    <app-date-input [(date)]="request.endDateFrom"></app-date-input>
                </div>
                <div class="container">
                    <label for="">To:</label>
                    <app-date-input [(date)]="request.endDateTo"></app-date-input>
                </div>
            </div>
            <div class="other-options">
                <div class="container">
                    <label for="status">{{'STATUS' | translate}}:</label>
                    <select id="status" [(ngModel)]="request.status">
                        <option value="" selected>{{'NONE' | translate}}</option>
                        <option value="NEW">{{'NEW' | translate}}</option>
                        <option value="PLA">{{'PLANNED' | translate}}</option>
                        <option value="INP">{{'IN_PROGRESS' | translate}}</option>
                        <option value="FIN">{{'FINISHED' | translate}}</option>
                    </select>
                </div>
                <div class="container">
                    <label for="orderBy">{{'ORDER_BY' | translate}}:</label>
                    <select id="orderBy" [(ngModel)]="request.orderBy">
                        <option value="projectNumber" selected>{{'PROJECT_NUMBER' | translate}}</option>
                        <option value="projectName">{{'PROJECT_NAME' | translate}}</option>
                        <option value="customer">{{'CUSTOMER' | translate}}</option>
                        <option value="status">{{'PROJECT_STATUS' | translate}}</option>
                        <option value="startDate">{{'START_DATE' | translate}}</option>
                        <option value="endDate">{{'END_DATE' | translate}}</option>
                    </select>
                </div>
                <div class="container">
                    <label for="numberOfRows">{{'NUMBER_OF_ROWS' | translate}}</label>
                    <input type="number" id="numberOfRows" min="1" [(ngModel)]="request.numberOfRows"/>
                </div>
            </div>
        </div>
        <div class="button-container">
            <button type="button" (click)="export()" class="common-button">{{'EXPORT' | translate}}</button>    
        </div>
    </div>
</div>